<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="org.ebj.mapper.UserMapper">
  
  	<insert id="insertUser" parameterType="org.ebj.vo.UserVO">
  		INSERT INTO tbl_user(userId, userPw, userName, userNickname)
  		VALUES (#{userId}, #{userPw}, #{userName}, #{userNickname})
  	</insert>
  	
  	<select id="selectUser" parameterType="java.lang.String" resultType="org.ebj.vo.UserVO">
  		SELECT userId, userPw, userName, userNickname, userRegDate, userImage
  		FROM tbl_user WHERE userId = #{userId}
  	</select>
  	
  	<select id="selectGroupUserList" parameterType="java.lang.Integer" resultType="org.ebj.vo.UserVOAdd">
  		SELECT tbl_user.userId, tbl_user.userName, tbl_user.userNickName, 
  			   tbl_user.userImage,  TO_CHAR(tbl_user.userRegDate,'yy-MM-dd') AS userRegDate, tbl_group.groupUserGrade
		FROM tbl_user
		FULL OUTER JOIN tbl_group
		ON tbl_user.userId = tbl_group.groupUser
		WHERE tbl_group.groupListNo = #{groupListNo}
    	ORDER BY tbl_group.groupno
  	</select>
  	
  	<update id="updateUser" parameterType="org.ebj.vo.UserVO">
  		UPDATE tbl_user
		SET userPw = #{userPw}, userNickname = #{userNickname}, userImage = #{userImage}
		WHERE userId = #{userId}
  	</update>
  	
  	<delete id="deleteUser" parameterType="java.lang.String">
  		DELETE FROM tbl_user
  		WHERE userId= #{userId}
  	</delete> 
  	
  </mapper>