/*
z-index 는 10씩 증가 ,기본 z-index 1000

*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* 반응형으로 만들어주는 기초 CSS*/

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Nanum Gothic", sans-serif;
}


/* Video태그를 바탕화면 맨밑으로 들어가게 만들어주는 CSS*/
 #video_background {
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}


/* 센터의 글씨크기를 조정 CSS */
.vert-text {
	display: table-cell;
 	vertical-align: middle;
 	text-align: center;
}

.vert-text h1 {
	padding: 0;
	margin: 0;
	font-size: 4.5em;
	font-weight: 700;
}


/* 센터에 글씨를 감싸주는 DIV를 반응형으로 만들어줌 background-size:
	cover는 이미지 비율을 맞추는 CSS */
.header {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* 미디어 쿼리를 이용해서 홈페이지 자체를 반응형으로 만들어줌 최소 width */
@media (max-width: 768px) {

}



/* 사이드 바 만들어주는 CSS  Start */
#sidebar-wrapper {
	margin-left: -250px;
	left: 0px;
	top:50px;
	width: 200px;
	background: #222;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
	opacity:0.8;
}

#page-content-wrapper {
	width: 100%;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-nav li {
	line-height: 40px;
	text-indent: 20px;
}

.sidebar-nav li a {
	color: #999999;
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	color: #fff;
	background: rgba(255,255,255,0.2);
	text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	line-height: 60px;
	font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}


/* 창크기가 작아지면 자동으로 사이드 바가 들어가는 미디어 쿼리 */
@media (max-width:768px) {

#wrapper {
	padding-left: 0;
}

#sidebar-wrapper {
	left: 0;
}

#wrapper.active {
	position: relative;
	left: 250px;
}

#wrapper.active #sidebar-wrapper {
	left: 250px;
	width: 250px;
	transition: all 0.4s ease 0s;
}

}
/* 사이드 바 만들어주는 CSS END */

/* 그룹 등록 창 START */
.makeGroupWindow{
	position:absolute;
	top:32%;
	left:25%;
	z-index:1000;
	display:none;
}

.openMakeGroupWindow{
	left:200px;
}
/* 그룹 등록 창 END */	


/* 메인 그룹 창  Start */

.mainGroupWindow{
	position:absolute;
	transition-duration:1s;
	top:70px;
	left:-5000px;
	width:95%;
	height:85%;	
}
.closeMainGroupWindow{
	left:-5000px;
}
/* 메인 그룹 창  End */

/* 메인 그룹 창  슬라이드 버튼 Start */
.carousel-control{
	top : 50%;
}
/* 메인 그룹 창 슬라이드 버튼 End */

/* 그룹멤버 리스트  Start */
.groupUser{
display:inline-block;
margin-right:30px;
}

.groupUserHide{
	display:none;
}
/* 그룹멤버 리스트  End */

/* 달력 CSS Start  */

#calendar{
	background-color:white;
	font-size: 13px;
	border:10px solid white;
	border-radius:10px;
	width:70%;
	height:570px;
	margin-left:15%;
}

/* 오늘 날짜 바탕색 */
.fc-today{
	background-color:#CEF76E;
} 

/*  캘린더에서 일정등록할때 색상 선택하는 박스의 크기    */
.color-box {
	float:left;
	width:30px;
	height:30px;
	margin:5px;
	border: 1px solid white;
}

/* 달력 CSS End  */

/* 그룹 회원 이미지 Start  */

.groupUserImage{
	width : 70px;
	height : 80px;
}

/* 그룹 회원 이미지 End  */


/* 알림창 CSS Start */
#alarmWindow{
	position:absolute;
	width:300px;
	height:100px;
	background-color:white;
	border:2px solid black;
	border-radius:15px;
	text-align:center;	
	display:none;

}

#alarmBackground{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	display:none;
}
/* 알림창 CSS End */

/* 스크롤바 CSS End */
.style-10::-webkit-scrollbar-track
{
  
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.style-10::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-10::-webkit-scrollbar-thumb
{
  
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                        rgba(0, 0, 0, .2) 25%,
											  transparent 50%,
											  transparent 50%,
											  rgba 50%,
											  rgba 50%,
											  transparent 50%,
											  transparent)
}
/* 스크롤바 CSS End */

/* 메뉴바 CSS Start */
.nav>li>a:hover, .nav>li>a:focus{
	text-decoration:underline;
	background:none;	
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background:none;
}
/* 메뉴바 CSS End */ 

/* 그룹 목록 CSS Start  */
.sidebar_a{
				color:white !important;
				font-size:17px;
				font-weight:bold
}
#makeGroup{
	color:white;
	font-size:20px
}
/* 그룹 목록 CSS End  */

/* 맵 카테고리 버튼 CSS Start  */
.mapCategory{
	width:49px;
	height:40px;
}
.mapCategoryText{
	font-size:20px;
	font-weight:900;
	padding:0;
}
/* 맵 카테고리 버튼 CSS End  */